snowflake-connector-python[secure-local-storage]==4.3.0
pandas==2.2.3
python-dotenv==1.2.1
streamlit==1.54.0
altair<5
watchdog==6.0.0
faiss-cpu==1.13.2
sentence-transformers==5.2.3
datasets==4.6.1
pytest==9.0.2
pyyaml==6.0.3
tabulate==0.10.0
langchain>=1.2.10
langchain-core>=1.2.17
langchain-google-genai>=4.2.1
langgraph>=1.0.10
torchvision==0.25.0
